* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: #db0007;
    box-shadow:  10px 10px 20px black,
    -20px -20px 60px #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 110px;
}

.logo-img{
    width: 100%;
}
.carrito{
    width: 60px;
    height: 40px;
    cursor: pointer;
    margin-left: 30px;
}
.carrito-img{
    width: 100%;
}
.contenedor-productos{
    width: 300px;
    height: 600px;
    border: 3px solid #ffbc0d;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    background: rgb(247, 247, 230);
    text-align: center;
}

.buscador{
    width: 100%;
    height: 30px;
    background: white;
    padding-top: 10px;
    border-bottom: 2px solid black;
}

.seccion{
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.queso{
    transform: rotate(180deg);
    margin-top: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 50px;
    margin: 0 10px;
    margin-bottom: 40px;
}

.posicion-carrito{
    width: 220px;
    height: 400px;
    background: transparent;
    position: absolute;
    right: 0; 
}


.queso-carrito{
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
    z-index: 2;
}


.contenedorcompra{
    width: 100%;
    background: #ffd700;
    height: 0px;
}